ServerExe/*.o
ServerExe/*.exe
ServerExe/*.dll
ServerExe/*.lo
ServerExe/*.la
ServerExe/*.zip
ServerExe/.deps/
ServerExe/.libs*/
ServerExe/Makefile*
ServerExe/aclocal.m4
ServerExe/autom4te.cache/
ServerExe/compile
ServerExe/config*
ServerExe/depcomp
ServerExe/install-sh
ServerExe/libtool
ServerExe/ltmain.sh
ServerExe/missing
ServerExe/seamlessrdp-1.0/

